.containerActivity {
    width: 60%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 1rem;
}

.containerPicture {
    height:  30rem;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.containerPicture img {
    width:  20%;
    border-radius: 1rem;
    margin-top: 5%;
    position: absolute;
    transform: translateX(-10%);
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
