.root {
    background: rgba(254,255,249) ;
    width: fit-content; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2; 
}
.img {
    background-color: rgba(220,220,220,0.4);
    z-index: 1 ;
    width: 600px; 
}
.li {
    display: inline-block;  
    margin: 10px;
    font-size: 1.1em;
    color: rgba(48,69,92,0.8);
    letter-spacing: 1px;
}
.ul {
    text-align: center; 
}
.title {
    color: rgba(255,104,115,1); 
    letter-spacing: 1.5px;
    text-align: center;
}
@media (max-width: 62.5em) {
    .img {
        width: 20em;
    }
    .title {
        font-size: 0.5em;
    }
    .li {
        font-size: 0.5em;
    }


}
@media ( max-width: 500px){
   .li {
       font-size: 0.5em;
   }
   .title {
       font-size: 0.5em;
   }
}