.listNavBar .MuiButton-label{
    color: rgb(100,255,218);
    font-family:"FuturaPT", Helvetica, Arial, sans-serif;
}
.listNavBar li {
    display: inline;
    color: rgb(136, 146, 176);
    margin: 1rem;
    font-family: FuturaPT, Helvetica, Arial, sans-serif; 
}
.listNavBar li:hover {
    color: rgb(100,255,218);
}